## Installing the mendeleev package

In [ ]:
!pip install mendeleev=0.12

## Pandas DataFrame

The pandas DataFrame is a table - it has rows with index and columns with headers. Each column is a pandas.Series object The required columnar data can be accessed with dot notation or subscripting. The row data can be accessed with iloc or loc method.

In [ ]:
# The variable ptable is assigned to the periodic table data from mendeleev package
# with fetch_table function
from mendeleev.fetch import fetch_table
ptable = fetch_table('elements')

In [ ]:
# Let's look at the first 5 entries in the ptable
# We use the head method
ptable.head()

In [ ]:
# Take a look at all the column names with columns method
ptable.columns

In [ ]:
# Get the column with atomic_radius and save it to col_atomic_radius
col_atomic_radius = ptable["atomic_radius"]
print(col_atomic_radius)

In [ ]:
# Getting statistics on a the atomi_radius column with describe method.
# sum, mean, var, median methods are also available
col_atomic_radius.describe()

Though we have 118 elements in the table, count is only 90. We have some missing values - NaN. Let's remove those values with dropna

In [ ]:
# Drop the rows with NaN in atomic_radius column
col_atomic_mass_clean = ptable["atomic_radius"].dropna()
col_atomic_mass_clean

The default index starts with 0. We will set the atomi symbol column as the index

In [ ]:
new_ptable = ptable.set_index("symbol")
new_ptable.head()

In [ ]:
# To get the first row let's use loc method
new_ptable.loc["H"]

In [ ]:
# Unlike loc which checks for the value in the index, iloc uses the row number
# row number starts with 0
new_ptable.iloc[0]

# **EXERCISE**

Assuming atoms are spheres, calculate the atomic volume from atomic radius. Hint: volume = (4/3) * 3.142 * (radius) ** 3

In [ ]:
# YOUR CODE HERE

Set the column with atomic symbol as the index

In [ ]:
# YOUR CODE HERE

## Groupby method

This method allows you to group data. A categorical variable is generally used.

In [ ]:
# Group elements by block
# Here we first group data by block and get the elements in s block

block_group = ptable.groupby("block")
block_group.get_group("s")

# **EXERCISE**

Use the ptable DataFrame to group data by block and get the element with highest boling point in the p-block

In [ ]:
# YOUR CODE HERE

Group data by lattice structure and find the most popular lattice type

In [ ]:
# YOUR CODE HERE

# Saving the dataframe and loading data into dataframe

We will save the s block dataframe as a CSV file. Then we will load the saved CSV file into a dataframe object. The format can be excel too.

In [ ]:
# Saving the dataframe
df_sblock = block_group.get_group("s")
df_sblock.to_csv("s_block.csv",index=False)

In [ ]:
# loading data into dataframe
sblock = pd.read_csv("s_block.csv")
sblock.head()

                                          annotation  ...  glawe_number
0  density(@ -253C), evaporation_heat(H-H), fusio...  ...         103.0
1                                 density(@ -270C),   ...           1.0
2                                                NaN  ...          12.0
3                                                NaN  ...          77.0
4                                                NaN  ...          11.0

[5 rows x 70 columns]